:root {
  --cyan-300: var(hsl(192, 90, 77%));
  --cyan-600: var(hsl(192, 37, 48%));
  --purple-300: var(hsl(268, 100, 86%));
  --purple-600: var(hsl(268, 34, 53%));
  --slate-300: var(hsl(240, 18, 85%));
  --slate-600: var(hsl(240, 10, 57%));
  --slate-900: var(hsl(240, 21, 20%));
  --white: var(hsl(0, 0, 98%));

  /* @link https://utopia.fyi/space/calculator?c=375,8,1.2,1440,8,1.25,5,2,&s=0.5,2|3|4|5|6|7|8|9|10|14,3xl-6xl|xl-6xl&g=s,l,xl,12 */

  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 2.5rem;
  --space-3xl: 3rem;
  --space-4xl: 3.5rem;
  --space-5xl: 4rem;
  --space-6xl: 4.5rem;
  --space-7xl: 5rem;
  --space-8xl: 7rem;

  /* One-up pairs */
  --space-xs-s: clamp(0.25rem, 0.162rem + 0.3756vw, 0.5rem);
  --space-s-m: clamp(0.5rem, 0.3239rem + 0.7512vw, 1rem);
  --space-m-l: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  --space-l-xl: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
  --space-xl-2xl: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  --space-2xl-3xl: clamp(2.5rem, 2.3239rem + 0.7512vw, 3rem);
  --space-3xl-4xl: clamp(3rem, 2.8239rem + 0.7512vw, 3.5rem);
  --space-4xl-5xl: clamp(3.5rem, 3.3239rem + 0.7512vw, 4rem);
  --space-5xl-6xl: clamp(4rem, 3.8239rem + 0.7512vw, 4.5rem);
  --space-6xl-7xl: clamp(4.5rem, 4.3239rem + 0.7512vw, 5rem);
  --space-7xl-8xl: clamp(5rem, 4.2958rem + 3.0047vw, 7rem);

  /* Custom pairs */
  --space-xl-6xl: clamp(2rem, 1.1197rem + 3.7559vw, 4.5rem);
  --space-3xl-6xl: clamp(3rem, 2.4718rem + 2.2535vw, 4.5rem);

  --step-1: clamp(3rem, 2.6479rem + 1.5023vw, 4rem);
  --step-2: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  --step-3: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  --step-4: clamp(1rem, 0.8571rem + 0.2976vw, 1.125rem);
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.txt-1 {
  color: var(--slate-900);
  font-size: var(--step-1);
  letter-spacing: 0;
  line-height: 1.1;
  font-weight: black;
}

.txt-2 {
  color: var(--slate-900);
  font-size: var(--step-2);
  letter-spacing: 0;
  line-height: 1.1;
  font-weight: black;
}

.txt-3 {
  color: var(--cyan-600);
  font-size: var(--step-3);
  letter-spacing: 0.25em;
  line-height: 1.1;
  font-weight: black;
}

p,
.txt-4 {
  color: var(--slate-900);
  font-size: var(--step-4);
  letter-spacing: 0;
  line-height: 1.1;
  font-weight: medium;
}

.txt-5 {
  color: var(--slate-900);
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5;
  font-weight: black;
}

header {
  padding-block-start: var(--space-3xl-6xl);

  & > * {
    margin-inline: auto;
  }
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: center;
  max-inline-size: var(--measure, 60ch);
  display: flex;
  flex-direction: column;
  align-items: center;
}
