:root {
  --cyan-300: hsl(192, 90%, 77%);
  --cyan-600: hsl(192, 37%, 48%);
  --purple-300: hsl(268, 100%, 86%);
  --purple-600: hsl(268, 34%, 53%);
  --slate-300: hsl(240, 18%, 85%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-900: hsl(240, 21%, 20%);
  --white: hsl(0, 0%, 98%);

  --step-label-size: 3.5rem;

  /* @link https://utopia.fyi/space/calculator?c=375,8,1.2,1440,8,1.25,5,2,&s=0.5,2|3|4|5|6|7|8|9|10|14,3xl-7xl|xl-6xl&g=s,l,xl,12 */
  /* https://utopia.fyi/space/calculator?c=375,8,1.2,768,8,1.25,5,2,&s=0.5,2%7C3%7C4%7C5%7C6%7C7%7C8%7C9%7C10%7C14,s-l%7Cm-xl%7Cxl-4xl%7Cxl-7xl&g=s,l,xl,12 */

  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 2.5rem;
  --space-3xl: 3rem;
  --space-4xl: 3.5rem;
  --space-5xl: 4rem;
  --space-6xl: 4.5rem;
  --space-7xl: 5rem;
  --space-8xl: 7rem;

  /* One-up pairs */
  --space-xs-s: clamp(0.25rem, 0.162rem + 0.3756vw, 0.5rem);
  --space-s-m: clamp(0.5rem, 0.3239rem + 0.7512vw, 1rem);
  --space-m-l: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  --space-l-xl: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
  --space-xl-2xl: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  --space-2xl-3xl: clamp(2.5rem, 2.3239rem + 0.7512vw, 3rem);
  --space-3xl-4xl: clamp(3rem, 2.8239rem + 0.7512vw, 3.5rem);
  --space-4xl-5xl: clamp(3.5rem, 3.3239rem + 0.7512vw, 4rem);
  --space-5xl-6xl: clamp(4rem, 3.8239rem + 0.7512vw, 4.5rem);
  --space-6xl-7xl: clamp(4.5rem, 4.3239rem + 0.7512vw, 5rem);
  --space-7xl-8xl: clamp(5rem, 4.2958rem + 3.0047vw, 7rem);

  /* Custom pairs */
  --space-m-xl: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  --space-xl-4xl: clamp(2rem, 0.5687rem + 6.1069vw, 3.5rem);
  --space-3xl-7xl: clamp(3rem, 2.2958rem + 3.0047vw, 5rem);

  /* @link https://utopia.fyi/clamp/calculator?a=375,1440,40—64 */
  --step-1: clamp(2.5rem, 1.9718rem + 2.2535vw, 4rem);

  /* @link https://utopia.fyi/clamp/calculator?a=375,1440,32—40 */
  --step-2: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);

  /* @link https://utopia.fyi/clamp/calculator?a=375,1440,12—18 */
  --step-3: clamp(0.75rem, 0.618rem + 0.5634vw, 1.125rem);

  /* @link https://utopia.fyi/clamp/calculator?a=768,1440,16—18 */
  --step-4: clamp(1rem, 0.8571rem + 0.2976vw, 1.125rem);

  /* @link https://utopia.fyi/clamp/calculator?a=768,1440,32—80 */
  --fluid-32-80: clamp(2rem, -1.4286rem + 7.1429vw, 5rem);

  /* @link https://utopia.fyi/clamp/calculator?a=375,768,144—156 */
  --fluid-144-156: clamp(9rem, 8.2844rem + 3.0534vw, 9.75rem);

  /* @link https://utopia.fyi/clamp/calculator?a=768,1440,156—256 */
  --fluid-156-256: clamp(9.75rem, 2.6071rem + 14.881vw, 16rem);

  /* @link https://utopia.fyi/clamp/calculator?a=768,1440,64—112 */
  --fluid-64-112: clamp(4rem, 0.5714rem + 7.1429vw, 7rem);

  /* @link https://utopia.fyi/clamp/calculator?a=768,1440,480—600 */
  --fluid-480-600: clamp(30rem, 21.4286rem + 17.8571vw, 37.5rem);

  /* @link https://utopia.fyi/clamp/calculator?a=1440,1452,-24—0 */
  --fluid--24-0: clamp(-1.5rem, -181.5rem + 200vw, 0rem);
}

body {
  font-family: "Red Hat Display", sans-serif;
  color: var(--slate-600);
  background-color: var(--white);
}

h1,
h2,
h3,
h4 {
  color: var(--slate-900);
  text-wrap-style: balance;
}

p {
  text-wrap-style: pretty;
}

h1,
.txt-1 {
  font-size: var(--step-1);
  letter-spacing: 0;
  line-height: 1.1;
  font-weight: 900;
}

.txt-2 {
  font-size: var(--step-2);
  letter-spacing: 0;
  line-height: 1.1;
  font-weight: 900;
}

.txt-3 {
  font-size: var(--step-3);
  letter-spacing: 0.25em;
  line-height: 1.1;
  font-weight: 900;
}

p,
.txt-4 {
  font-size: var(--step-4);
  letter-spacing: 0;
  line-height: 1.5;
  font-weight: 500;
}

.txt-5,
.btn {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5;
  font-weight: 900;
}

header {
  padding-block-start: var(--space-3xl-7xl);

  & > * {
    margin-inline: auto;
  }
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: center;
  max-inline-size: var(--measure, 60ch);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

.stack--sm > * + * {
  --space: 1rem;
}

.stack--md > * + * {
  --space: 2rem;
}

.stack--lg > * + * {
  --space: 4rem;
}

.white {
  color: var(--white);
}

.btn {
  padding-block: var(--space-m);
  padding-inline: var(--space-2xl);
  border: none;
  font-weight: 700;
  border-radius: 2rem;
  color: var(--white);
  background-color: var(--purple-600);

  &:hover {
    background-color: hsl(268, 55%, 71%);
    cursor: pointer;
  }

  &.btn--blue {
    background-color: var(--cyan-600);

    &:hover {
      background-color: hsl(192, 54%, 64%);
    }

    & > .btn__muted {
      color: var(--cyan-300);
    }
  }
}

.hero {
  --measure: 90rem;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-3xl);
  padding-block: var(--space-5xl) var(--space-xl);
  overflow: hidden;

  @media (width > 768px) {
    flex-direction: row;
  }
}

.hero__content {
  padding-inline: var(--space-xl);
  --measure: 30rem;
}

.hero__img-left {
  width: calc(100% + 3rem);
  max-width: none;

  @media (width > 768px) {
    margin-inline-start: var(--fluid--24-0);
    width: unset;
  }
}

.hero__img-right {
  margin-inline-end: var(--fluid--24-0);

  @media (width <= 768px) {
    display: none;
  }
}

.hero__btn-group {
  display: flex;
  gap: var(--space-m);
  flex-wrap: wrap;
  justify-content: center;
}

.highlights {
  padding-block: var(--space-xl-4xl) var(--space-5xl);
  padding-inline: var(--fluid-32-80);
}

.highlights__content {
  --measure: var(--fluid-480-600);
}

.highlights__hgroup {
  color: var(--cyan-600);
}

.step-label {
  border: 1px solid var(--slate-300);
  border-radius: 50%;
  background-color: var(--white);
  width: var(--step-label-size);
  height: var(--step-label-size);
  justify-content: center;
  color: var(--slate-600);
  position: relative;
  margin-top: 5rem;

  &::before {
    width: 1px;
    height: 5rem;
    background-color: var(--slate-300);
    content: "";
    position: absolute;
    bottom: 100%;
  }
}

.highlights__imgs-wrapper,
.highlights__imgs-wrapper-inner {
  display: flex;
  gap: var(--space-m-xl);
  flex-wrap: wrap;
  justify-content: center;
}

.highlights__img {
  aspect-ratio: 1;
  border-radius: var(--space-m);

  @media (width <= 768px) {
    max-width: var(--fluid-144-156);
  }

  @media (width > 768px) {
    max-width: var(--fluid-156-256);
  }
}

.footer__content-background {
  --overlay: hsla(from var(--cyan-600) h s l / 0.9);

  background-image: linear-gradient(var(--overlay), var(--overlay)),
    url(../assets/mobile/image-footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (width >= 768px) {
    background-image: linear-gradient(var(--overlay), var(--overlay)),
      url(../assets/tablet/image-footer.jpg);
  }

  @media (width >= 1440px) {
    background-image: linear-gradient(var(--overlay), var(--overlay)),
      url(../assets/desktop/image-footer.jpg);
  }
}

.footer__content {
  --measure: 30rem;

  padding-block: var(--fluid-64-112);
  padding-inline: var(--fluid-32-80);
  margin-block-start: calc(var(--step-label-size) / -2);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (width >= 1440px) {
    --measure: 70rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    text-align: left;

    > * {
      flex: 0 33%;
    }
  }
}

.footer__btn-container {
  display: flex;
  gap: var(--space-m);
  justify-content: flex-end;
}
